.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  flex-flow:row wrap;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.title {
  margin-bottom: 2%;
}

.title,.post-title{
  font-size: 25px;
}

.post {
  border: 1px solid black;
  padding-left: 5px;
  margin-bottom: 1%;
}


.asidePost{
  margin-top:5%;
  margin-right:10%;
  padding:0%
}

.blogPosts{
  border: solid black 1px;
  margin: 0.75%;
  float:left;
  width: 70%
}

.post{
  border: solid black 1px;
  margin: 0.75%;
}

img{
  float:right;
  width:90px;
}

.postTitle{

}

.red {
  color:red
}

.published{
  margin-top:2em;
}


.topnav {
  display:flex;
  list-style: none;
  font-size: 25px;
}


ul {
  list-style-type:none;
}

.login {
  margin-left: auto;
}

.logindiv{
  margin-left: auto;
  display: flex;
}

.nameHeader{
  margin-right: 10em;
}

li {
  padding-right: 5px;
  padding-left: 5px;
}

#paragraphContainer{
  width: 90%;
}

#newPostBody{
  height: 10em;
}

.newPostTitle{
  width: 20%;
}

.form-group{
  margin-left: 10em;
  margin-right: 10em;
}

#new-post-submit-button{

}

.strongText{
  font-weight: bold;
}

.comments{
  font-size: 10px;
  color: navy;
  margin: 20px 100px;
}

.comment{
  border: 2px solid black;
  font-size: 10px;
  color: navy;
  margin: 20px 100px;
}

#deletePostLink{

  margin-right: 20px;
  display: inline;
  margin-left: 25px;
}

.FullPostLink{
  margin-left: 10px;
  margin-bottom: 20px;
  display: inline;
}

.postLinks{
  display: inline;
  font-size: 0.9rem;
}